
.div-background__Image{
    background: url(../assets/photos/ChatGPT\ Image\ Sep\ 25\,\ 2025\,\ 01_47_48\ PM.png);
    background-repeat: no-repeat;
    background-size: 40vh;
    background-position: top;
    
    
}
