.main{
    width: auto;
    height: 100vh;
    
    background-image: url(../jpg/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 65%;
    height: 65%;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}
.input__boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.inputs__div{
    
    width: 100%;
    padding:2% 5%;
    display: flex;
    justify-content: space-between;
}
.inputs{
    border-radius: 15px;
    border-style: none;
    width: 40%;
    height: 6vh;

}
.btn{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-style: none;
}